<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

Exercise 3 - Create a markdown cell for an introduction

The Notebook consists of the details about various data science tools and the data science ecosystem

Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Other languages are:
1. Scala
2. Java
3. C++
4. Julia
5. Javascript
6. PHP
7. Go
8. Ruby
9. Visual Basic

Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. SciPy
4. Matplotlib
5. Tensorflow
6. Scikit-learn
7. PyTorch
8. Keras
9. Seaborn
10. ggplot2
11. caret
12. stringr

Exercise 6 - Create a markdown cell with a table of Data Science tools

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|R Studio|
|Apache Spark|

Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# This a simple arithmetic expression to mutiply then add integers
result = (3*4)+5
print(result)

17

Exercise 9 - Create a code cell to convert minutes to hours

In [6]:
# This will convert 200 minutes to hours by diving by 60
m = 200
h = m/60
print(h)

3.3333333333333335

Exercise 10 - Insert a markdown cell to list Objectives

**Objectives:**

* List popular langauges of Data Science
* List Data Science libraries
* List Data Science Tools
* Example of solving an Arithmetic Expression
* Example of an expression to convert minutes to hours

Exercise 11 - Create a markdown cell to indicate the Author's name

## Author
Arbaz Sayed